@tailwind base;
@tailwind components;
@tailwind utilities;

.App-header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* Additional Tailwind CSS classes */
.text-4xl {
  font-size: 2.25rem;
}

.text-xl {
  font-size: 1.25rem;
}
